page-museo {

	.cardHome {
		margin: 0px;
		width: 100%;
		height: 100%;
		border-radius: 0;
	}

	.card-title {
		height: 100%;
		text-align: center;
		font-size: 18px;
	}

	.sideMenu {
		background-color: transparent;
		color: white;
	}

	.home-button {
		background-color: transparent;
		color: white;
		margin: 0 2%;
		float: right;
  }

  .button-md {
    box-shadow: none !important;
  }


	.vocal-button {
		background-color: transparent;
		color: white;
  }

  .museo-content {
		display: none;
  }

  //MAMbo

	.museo_mambo .card-title {
		color: white;
		text-transform: uppercase;
		text-align: left;
		font-size: 16px;
    font-weight: 700;
		border-left: 1px white solid;
		margin-left: 10px;
		margin-right: 10px;
		padding-left: 10px;
		padding-right: 10px;
		position: absolute;
		top: 38%;
		height: 59%;
	}

	.museo_mambo .museo-content {
		display: block;
    margin-top: 20%;
    height: 78%;
    overflow: auto;
	}

	.museo_mambo .museo-content p {
		font-size: 10px !important;
    font-weight: 600;
    color: white;
		text-align: justify;
	}

	#paginaMuseo.museo_mambo {
		background-image: url("../assets/imgs/home/ArteModerna/MamboHome/mambohome.jpg");
    background-size: cover;
    background-position: center;
	}

	.museo_mambo .cardHome {
		background-color: transparent !important;
		background-image: linear-gradient(to top right, rgba(208,47,124,0.7), rgba(252,103,103,0.7)) !important;
	}

  //Musica

  .museo_musica .card-title {
		color: white;
		text-transform: uppercase;
		text-align: left;
		font-size: 16px;
    font-weight: 700;
		border-left: 1px white solid;
		margin-left: 10px;
		margin-right: 10px;
		padding-left: 10px;
		padding-right: 10px;
		position: absolute;
		top: 38%;
		height: 59%;
	}

	.museo_musica .museo-content {
		display: block;
    margin-top: 20%;
    height: 78%;
    overflow: auto;
	}

	.museo_musica .museo-content p {
		font-size: 10px !important;
    font-weight: 600;
    color: white;
		text-align: justify;
	}

	#paginaMuseo.museo_musica {
		background-image: url("../assets/imgs/home/Musica/MusicaHome/musicahome.jpg");
    background-size: cover;
    background-position: center;
	}

	.museo_musica .cardHome {
		background-color: transparent !important;
		background-image: linear-gradient(to top right, rgba(91,73,137,0.7), rgba(225,0,255,0.7)) !important;
	}

}
