page-museo {
	.cardHome {
		margin: 0px;
		width: 100%;
		height: 100%;
	}
	
	.card-title {
		height: 100%;
		text-align: center;
		font-size: 18px;
	}
	
	.sideMenu {
		background-color: transparent;
		color: black;
	}

	.home-button {
		background-color: transparent;
		color: black;
		margin: 0 2%;
		float: right;	
	}
}
