page-menu {

    .back-button {
		background-color: transparent;
		color: white;
		margin: 0 2%;
		float: right;
    }

    .scroll-content {
      overflow: auto;
    }

    .size-button {
      font-size: 3.5vw;
    }

    .toolbar-title-ios, .toolbar-title-md, .toolbar-title-wp { 
      font-size: 4vw;
    }

}
