page-menu {

    .back-button {
		background-color: transparent;
		color: white;
		margin: 0 2%;
		float: right;
    }

    .scroll-content {
      overflow: auto;
      background: linear-gradient(to right, #a4b2bc 0%, #eaf0f2 100%);
    }

    .size-button {
      font-size: 3.5vw;
    }

    .toolbar-title-ios, .toolbar-title-md, .toolbar-title-wp {
      font-size: 4vw;
    }

    .bar-button {
      color: black;
  }
}
